build
node_modules
data/*
cache
temp

!data/main.settings.json

.idea
yarn.lock

#Yarn Barry
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode/


